<h1>Create New Figures!!!! YAY</h2>

    <form method="post" action="/figures">
    <h1>Create New Figure: </h1>
    <label for="figure"> Name: </label>
    <input type="text" id="figure" name="figure[name]">
   
    <h1>Create New Landmark: </h1>
   <label for="landmark"> Name: </label>
    <input type="text" id="landmark" name="landmark[name]">
    <label for="year_completed"> Year Completed: </label>
    <input type="text" id="landmark" name="landmark[year_completed]">
   
   
    <h1>Create New Title: </h1>
    <label for="title"> Name: </label>
    <input type="text" id="title" name="title[name]">

    <input type="submit" value="submit">
    </form>


